<mat-card class="min-width">
  <mat-card-content>
    <mat-toolbar color="primary">Produtos</mat-toolbar>
    <div *ngIf="products$ | async as products; else loading" class="mat-elevation-z8">
      <mat-table [dataSource]="products">
        <ng-container matColumnDef="name" class="full-width">
          <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{ product.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="barCode" class="full-width">
          <mat-header-cell *matHeaderCellDef> Código de Barras </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{ product.barCode }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price" class="full-width">
          <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{ product.price }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions" class="full-width">
          <mat-header-cell *matHeaderCellDef class="action-column">
            <button mat-mini-fab color="accent" aria-label="Adicionar um produto" class="action-column-header"
              (click)="onAdd()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let product" class="action-column">
            <button mat-icon-button color="primary" aria-label="Editar Curso" (click) ="onEdit(product)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Remover Curso" (click) ="onDelete(product)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
